{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ greeting }}</h1>
    <p class="js-increment-count">{{ countNum }}</p>
    <a href="{{ path('bb_api_increment',{id: countId}) }}" class="js-increment">increment</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/showCount.js') }}"></script>
{% endblock %}
