{% extends "base.html.twig" %}

{% block body %}
    <form action="{{ path('bb_api_create') }}" class="js-create-form">
        <input type="text" name="name">
        <input type="text" name="description">
        <input type="text" name="price">
        <input type="submit">
    </form>
    <table class="js-product-table">
        {% for product in products if product.active %}
            <tr class="js-product-{{ product.id }}">
                <td class="js-product-name-{{ product.id }}">{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td><a href="{{ path('bb_api_delete',{id: product.id}) }}" class="js-delete">delete</a></td>
                <td><a href="{{ path('bb_api_update',{id: product.id}) }}" class="js-update">update</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/showCount.js') }}"></script>
{% endblock %}
