{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ greeting }}</h1>
    {% for counter in counters %}
    <p class="js-increment-count-{{ counter.id }}">{{ counter.countNum }}</p>
    <a href="{{ path('bb_api_increment',{id: counter.id}) }}" methods="POST" class="js-increment" >increment</a>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/showCount.js') }}"></script>
{% endblock %}
